<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <title>Contact</title>
</head>

<body>
  <div class="wrapper">
    <h2>Our Project</h2>
    <p id="project_title">Hello there!</p>
    <p id="project_paragraph">This project was created with one goal in mind, to create a website where we can help
      raise awareness within the
      online community that there are kids in the world who cannot go home to parents, who feel like they don't have
      anyone they can really rely on. Although this project is still conceptual and not in anyway close to the scale we
      want it to be, during the week we had, we came up with an idea that has unlimited potential to grow and blossom
      into something where other people can be inspired, doing something from small to big to help out the community of
      kids who don't have a home to go back to.</p>
    <h3 id="find_us">Find us on:</h3>
    <div class="yehor">
      <p><span id = "yehor_name">• Yehor Melnyk</span> - Developer</p>
      <p>Russian Developer with great hopes in his heart, working hard everyday to make a difference in the world from
        small to big.</p>
    </div>
    <div class="robin">
        <p><span id = "robin_name">• Robin Hartley</span> - Developer</p>
        <p>Inspired by the magic which is coding, here I am.</p>
    </div>
  </div>
  <ul>
    <li>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab fa-github"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </li>
  </ul>
</body>

</html>
