@import url('https://fonts.googleapis.com/css?family=Rajdhani|Ubuntu');

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  background-image: url("../assets/refugee_kids.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#company_name {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  color: #F5B041;
}

#logo_heart {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
}

#company_name {
  display: inline-block;
  vertical-align: sub;
}

.navigation {
  display: inline-block;
  margin: 20px;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.navigation a {
  color: #212121;
  font-family: Ubuntu;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 40px;
  display: inline-block;
}

.heading {
  float: right;
  padding-right: 30px;
}

.navigation, .heading {
  display: inline-block;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #F5B041;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;

}
