<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <div class="about">
    <h1>Who are we?</h1>
    <br>
    <p id="main">YoungLine is a non-profit organization which
      brings life-changing care to orphaned and vulnerable children all around the world. We also bring community
      awareness to the increasing orphan population and how you can help out an Orphan.
    </p>
    <div class="text">
      <p>Since YoungLine was created in 2017, YoungLine has taken a stand for orphaned children.
        Today there are 8 million children living in orphanages around the world.
        That is unacceptable. Ask any child and they will tell you that their
        biggest dream is to be part of a loving family — it’s where they thrive.</p>
      <li>More than 80% of children living in institutions have a living parent.
        We make every effort to reunite these children with their birth family,
        if possible.</li>
      <li>
        For abandoned children without family — our measurable, systematic method
        ensures that children are loved, educated,
        healthy and safe until they transition to a permanent family.
      </li>
      <li>
        We actively collaborate with governments, other non-profits and
        local family-strengthening organizations to transform systems
        and give children a voice.
      </li>
    </div>
    <div class="image">
      <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
      <div id="slider">
        <figure>
          <img class='hey' src="../assets/help_one.jpg" alt>
          <img class='hey' src="../assets/help_two.jpg" alt>
          <img class='hey' src="../assets/help_three.jpg" alt>
          <img class='hey' src="../assets/help_four.jpg" alt>
          <img class='hey' src="../assets/help_five.jpg" alt>
        </figure>
      </div>
      <p>Even the greatest challenges <span>can be solved</span> when well-meaning people work together.</p>
    </div>
  </div>

</body>

</html>
