@import url('https://fonts.googleapis.com/css?family=Rajdhani|Ubuntu');

* {
  margin: 0px;
  padding: 0px;
}

.about {
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 30%;
  top: 15%;
  border: 1px solid black;
  width: 900px;
  border-radius: 20px;
  padding: 20px;
}

.about h1 {
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  color: orange;
}

#main {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 25px;
  padding: 20px;
}

.text {
  display: inline-block;
  width: 400px;
  line-height: 20px;
  letter-spacing: 0.5px;
  padding-left: 20px;
}

.text p {
  padding: 20px;
}

ul {
  list-style-position: outside;
}

.text li {
  padding: 5px;
}

.image {
  vertical-align: top;
  display: inline-block;
  width: 400px;
  text-align: center;
  padding: 20px;
  margin-left: 30px;
}

.image p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

span {
  color: orange;
}

@keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

div#slider {
  overflow: hidden;
  width: 400px;
}

div#slider figure img {
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

.hey {
  height: 300px;
  width: 400px;
}
